@import url('public/fonts/OxygenMono-Regular.ttf');

body {
  font-family: 'Oxygen Mono', monospace;
  background-color: black;
  margin: 0;
  padding: 0;
}

#new-cat, #new-sec {
  margin: 12px;
  width: 20vw; /* n% ViewportWidth */
}

.category  {
  background-color: white;
  width: 250px;
  height: 250px;
  margin: 12px;
}